*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.artifacts/e9c7788d-549c-46a0-877b-d0d724af104b/implementation_plan.artifact.md
/.artifacts/1ef09f07-2f4c-4aa2-8284-0abd9adc4b12/walkthrough.artifact.md
